@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", Arial, sans-serif;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}

button {
  height: 50px;
  background-color: #b59f5b;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

button:hover {
  background-color: #323232;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* popup */

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.popup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
}

.popup-container {
  position: relative;
  width: 390px;
  height: 600px;
  padding: 55px 30px;
  margin-left: 15px;
  margin-right: 15px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.close-btn {
  width: 20px;
  height: 20px;
  background-image: url("../images/form-x.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  right: 0;
  top: -30px;
}

.popup-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 45px;
  font-size: 20px;
  line-height: normal;
}

.popup-form {
  margin-bottom: 30px;
}

.popup-form > div {
  margin-top: 30px;
}

.popup-form > div:first-child {
  margin-top: 0;
}

.form-title {
  display: block;
  font-size: 13px;
  line-height: normal;
  font-weight: normal;
  margin-bottom: 10px;
}

.attendance select  {
  color: #727070;
  background-image: url(../images/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: center right 15px;
  background-size: 10px;
}

.attendance select:focus {
  background-position: center right 13px;
}

.email-sub-text {
  font-size: 13px;
  margin-right: 10px;
}

.email-sub-text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../images/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
  }

.email-sub-radio:checked ~ .email-sub-text::before {
  background-image: url("../images/form-circle.svg");
}

.feedback-textarea {
  min-height: 130px;
  max-height: 130px;
  resize: none;
  font-size: 13px; /* для огнелиса */
}

.feedback-textarea:focus {
  padding: 13px 18px;
}

.feedback-btn {
  width: 100%;
}

/* header */

.header {
  box-sizing: border-box;
  min-height: 450px;
  background-image: url("../images/banner-bg.jpg");
  background-color: #666666;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 30px;
  padding-bottom: 75px;
  margin-bottom: 65px;
}

.header::before {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 180px;
}

.menu {
  font-size: 13px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
}

.menu-list-item {
  margin-right: 35px;
}

.menu-list-item:last-child {
  margin-right: 0;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-button {
  display: none;
  position: relative;
  width: 23px;
  height: 3px;
  top: 0px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 0;
  cursor: pointer;
}

.header-title {
  position: relative;
  display: block;
  box-sizing: border-box;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  /* width: 720px; */
  min-width: 57.5%;
  max-width: 720px;
  font-size: 45px;
  line-height: 1.67;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  margin-top: 125px;
}

/* trends */

.trends,
.products {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 65px;
  justify-content: space-between;
}

.trends:first-child {
  width: 100%;
}

.trends-title,
.product-title {
  position: relative;
  width: 100%;
  margin-bottom: 45px;
  font-size: 20px;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

.trend {
  position: relative;
  width: calc(25% - 4px);
  min-height: 320px;
  margin-right: 4px;
  background-color: #606260;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  overflow: hidden;
}

.trend::before {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.trend:last-child {
  margin-right: 0;
}

.trend1 {
  background-image: url("../images/trend1.jpg");
}

.trend2 {
  background-image: url("../images/trend2.jpg");
}

.trend3 {
  background-image: url("../images/trend3.jpg");
}

.trend4 {
  background-image: url("../images/trend4.jpg");
}

.trend > div {
  position: absolute;
  z-index: 1;
  right: 20px;
  bottom: 15px;
  left: 20px;
  padding: 10%;
  border: 3px solid #b59f5b;
}

.trend-title a {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
}

/* main */

.main {
  margin-bottom: 65px;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.main-posts {
  width: 780px;
}

.main-post {
  min-height: 295px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
}

.main-post:last-child {
  margin-bottom: 0;
}

.main-post-img {
  display: block;
  width: 380px;
  margin-right: 30px;
  flex-shrink: 0;
}

.main-post-header {
  margin-bottom: 50px;
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
}

.post-tag {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  font-size: 14px;
  line-height: normal;
  margin-right: 20px;
  margin-bottom: 15px;
}

.post-tag a {
  color: #b59f5b;
}

.post-tag:last-child {
  margin-right: 0;
}

.post-tag a:hover {
  text-decoration: underline;
}

.main-post-title {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 35px;
}

.main-post-title a:hover,
.aside-post-title a:hover,
.trend-title a:hover {
  color: #b59f5b;
}

.post-date {
  width: 100px;
  font-weight: normal;
  color: #888888;
  font-size: 12px;
  line-height: normal;
  margin-right: 10px;
  /* если убрать две строки ниже, то автор будет выше даты на полстроки */
  display: inline-block;
  overflow: hidden;
}

.main-post-autor {
  font-weight: bold;
  color: #000000;
  font-size: 12px;
  line-height: normal;

  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* width: 255px; */
  width: 150px; /* в таком случае, будет работать корректно при разных размерах окна */
}

.main-post-desc,
.product-desc {
  font-weight: normal;
  color: #000000;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 0.5em;
}

/* aside */

.sidebar {
  width: 272px;
}

.sidebar > * {
  margin-bottom: 60px;
}

.sidebar > *:last-child {
  margin-bottom: 0;
}

.sidebar-title {
  position: relative;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  line-height: normal;
  margin-bottom: 40px;
  text-align: center;
}

.title-underline::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  position: absolute;
  top: 2em;
  left: 50%;
  margin-left: -33px;
}

.aside-post {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.aside-post-img {
  display: block;
  width: 70px;
  margin-right: 20px;
  flex-shrink: 0;
}

.aside-post-title {
  font-size: 14px;
  text-align: 18px;
  text-transform: uppercase;
}

.search {
  display: flex;
}

.search label {
  width: 100%;
}

.search input {
  width: 100%;
  height: 50px;
  background-color: #f4f7f6;
  padding: 15px 20px;
  box-sizing: border-box;
}

.search input:focus {
  outline: none;
  border: 2px solid #b59f5b;
  border-right: none;
  padding-left: 18px; /* паддинг минус бордер, чтобы не съезжал плейсхолдер */
}

.search button {
  width: 50px;
  flex-shrink: 0;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.subscription-form input,
.attendance select,
.feedback-textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 50px;
  background-color: #f4f7f6;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.subscription-form input:focus,
.attendance select:focus,
.feedback-textarea:focus {
  border: 2px solid #b59f5b;
  padding-left: 18px; /* паддинг минус бордер, чтобы не съезжал плейсхолдер */
}

.subscription-form button {
  width: 100%;
}

.tag-list-item {
  box-sizing: border-box;
  display: inline-block;
  height: 30px;
  border: 3px solid #eeeeee;
  padding: 5px 13px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  margin-right: 3px;
  margin-bottom: 5px;
}

.tag-list-item:last-child {
  margin-right: 0;
}

.tag-list-item:hover {
  border-color: #b59f5b;
}

.themes-list-item {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 45px;
  border-bottom: 1px solid #eeeeee;
  padding: 15px 2px;
  font-weight: bold;
}

.themes-list-item a {
  margin-right: 3px;
}

.themes-list-item a:hover {
  color: #b59f5b;
}

.themes-list-item sup {
  color: #b59f5b;
}

/* our products */

.products .container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 440px;
  /* min-width: 345px; */
  max-width: calc(33.333% - 65px);
  margin-right: 65px;
}

.product:last-child {
  margin-right: 0;
}

.product-picture {
  width: calc(100% - 56px);
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.product-picture img {
  width: 100%;
  display: block;
}

.product-name {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}

.product-body {
  box-sizing: border-box;
  min-height: 265px;
  height: 100%;
  margin-top: -50px;
  padding: 50px 25px 25px;
  border: 3px solid #b59f5b;
}

.product-body span {
  display: block;
}

.product-desc {
  margin-bottom: 25px;
}

.product-desc a {
  color: #b59f5b;
}

.product-desc a:hover {
  text-decoration: underline;
}

.product-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 50px;
  width: 100%;
}

.product-price {
  display: flex;
  flex-direction: column;
  height: 55px;
}

.price-discount,
.price-actual {
  height: 30%;
  font-weight: bold;
  line-height: normal;
  margin-right: 5px;
}

.price-discount {
  font-size: 14px;
  text-decoration: line-through;
}

.price-actual {
  font-size: 20px;
}

.product-btn {
  height: 50px;
  flex-basis: 140px;
  padding-left: 5px;
  padding-right: 5px;
}

/* footer */

.footer-top {
  box-sizing: border-box;
  height: 85px;
  background-color: #f4f7f6;
  margin-bottom: 75px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.social-section {
  text-align: center;
}

.socials-item {
  display: inline-block;
  margin-right: 25px;
}

.socials-item:last-child {
  margin-right: 0;
}

.socials-link {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.socials-link-twitter {
  background-image: url("../images/004-twitter.svg");
}

.socials-link-pinterest {
  background-image: url("../images/001-pinterest.svg");
}

.socials-link-facebook {
  background-image: url("../images/002-facebook-logo.svg");
}

.socials-link-instagram {
  background-image: url("../images/005-instagram.svg");
}

.socials-link-tumblr {
  background-image: url("../images/003-tumblr.svg");
}

.footer-bottom {
  margin-bottom: 40px;
  text-align: center;
}

.copyright {
  font-size: 12px;
  line-height: normal;
  color: #999999;
  text-align: center;
}
