@media (min-width: 361px) and (max-width: 1199px) {
  .container {
    width: 100%;
    padding-right: 34px;
    padding-left: 34px;
  }

  /* header */

  .header {
    margin-bottom: 50px;
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .menu {
    display: none;
  }

  .menu-button {
    display: inline-block;
  }

  .menu-button::before,
  .menu-button::after {
    content: "";
    position: absolute;
    left: 0px;
    width: 23px;
    height: 3px;
    border-radius: 5px;
    background-color: #ffffff;
  }

  .menu-button::before {
    top: -8px;
  }

  .menu-button::after {
    top: 8px;
  }

  .menu-button:hover {
    background-color: #ffffff;
  }

  .header-title {
    font-size: calc(100% + 3vw);
    line-height: calc(100% + 3vw);
  }

  /* trends */

  .trends {
    font-size: 20px;
    line-height: 24px;
  }

  .trends-title {
    margin-bottom: 35px;
  }

  .trend {
    width: calc(50% - 2px);
    margin-bottom: 4px;
  }

  .trend:nth-child(2n - 1) {
    margin-right: 0;
  }

  .trend-title a {
    font-size: calc(70% + 0.25vw);
    line-height: calc(70% + 0.25vw);
  }

  /* main */

  .main-posts {
    width: 55.714%;
  }

  .main-post {
    flex-wrap: wrap;
    margin-right: 5%;
    margin-bottom: 40px;
    padding-bottom: 25px;
    border-bottom: 3px solid #eeeeee;
  }

  .main-post:last-child {
    border-bottom: none;
  }

  .main-post-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .main-post-header {
    margin-bottom: 35px;
  }

  .main-post-title {
    font-size: 17px;
  }

  .sidebar {
    width: 38.571%;
  }

  .aside-post {
    flex-wrap: wrap;
  }

  .aside-post-info {
    min-width: 80px;
    width: calc(100% - 90px);
  }

  /* our products */

  .products {
    margin-bottom: 15px;
  }

  .product {
    /* min-width: 335px; */
    min-width: calc(50% - 25px);
    margin-right: 25px;
    margin-bottom: 35px;
  }

  .product:nth-child(2n - 1) {
    margin-right: 0;
  }

  /* footer */

  .footer-top {
    margin-bottom: 50px;
  }
}
